body{
    background: white;
    color: orange;
}
.teacherBlock{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.globalDesc{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    gap: 20px;
}

.globalDesc p {
    color: black;
}

footer{
    font-family: "Open Sans", sans-serif;
    color: white;
    background-color: #83B6D1;
    position: relative;
    width: 100%;
    bottom: 0;
}
.firstPartFoot{
    display: flex;
    gap: 200px;
    padding-left: 260px;
}
footer h3{
    font-size: 20px;
}
footer ul{
    list-style-type: none;
}
