/* Add a black background color to the top navigation */
.topnav {
    background-color: #ffffff;
    overflow: hidden;
}


/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #000000;
    text-align: right;
    font-family: "Open Sans", sans-serif;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.homepage_img {
    position: center;
    width: 100%;
    height: 807px;
    left: 0px;
    top: 60px;
}

.centered_text {
    font-family: "Open Sans";
    text-align: center;
    color: #000000;
    font-size: 48px;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: +10;
}

.img_button {
    box-shadow: 0px 10px 14px -7px #094e79;
    background-color:#094e79;
    border-radius:18px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:20px;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px #094e79;
}

.img_button:active {
    position:relative;
    top:1px;
}

.h1_homepage {
    text-align: center;
}

.logo_university_homepage {
    display: flex;
    padding-left: 230px;
}

.block_with_picture {
    padding-left: 230px;
}

.block_with_picture p {
    color: #000000;
}

.block_with_picture h2 {
    color: #2F7CAA;
}


.courses_button {
    box-shadow: -2px 3px 13px 0px #5e575e;
    background-color:#f39573;
    border-radius:26px;
    border:1px solid #f39573;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    margin-top: 30px;
    margin-left: 750px;
    margin-bottom: 30px;
}

.courses_button:active {
    position:relative;
    top:1px;
}

.courses_button:active {
    position:relative;
    top:1px;
}

.courses_button a {
    text-decoration: none;
    color: #ffffff;}

.topnav .logo{
    position: absolute;
    left: 0;
}
.topnav .logo:hover{

    background-color: transparent;

}
